.icon {
    display:      inline-block;
    height:       5em;
    width:        5em;
    stroke-width: 0;
    stroke:       currentColor;
    fill:         currentColor;

    &-info {
        padding-left: 1em;
        flex-grow:    1;
    }

    &-name {
        font-weight: 600;
        font-size:   16px;
    }

    &-title {
        font-size: 14px;
    }
}