@import '../../styles/variables';

.sprite-list {
    display:   flex;
    flex-wrap: wrap;

    &__title {
        width:         100%;
        border-bottom: 1px solid $gray;
        margin:        0;
    }

    &__item {
        display:   flex;
        width:     25%;
        margin:    1.5em 0;
        min-width: 250px;
    }
}