@import '../../styles/variables';

.btn-cancel {
    position:  absolute;
    right:     10px;
    top:       50%;
    transform: translateY(-50%);
    font-size: .8em;

    @media only screen and (max-width: $mobile-mid) {
        transform:  translate(0);
        position:   static;
        margin-top: 1em;
    }
}