/*  Breakpoints */
$mobile:    768px;
$tablet:    992px;
$desktop:   1366px;
$wide:      1920px;

$mobile-mid: 480px;

/*  Gaps & Indents  */
$gap: 1em;

$body-indent: 2 * $gap;

/*  Container width */
$container-max-width:   1470px;

/*  Sidebar width    */
$sidebar-max-width: 270px;

/*  Colors  */
$text:      #232d37;
$gray:      #cfcfcf;

$special:       #26a69a;
$special-hover: #2bbbad;