@import '../../styles/variables';

.app {
    height:         100vh;
    display:        flex;
    flex-direction: column;
}

.header {
    width:           100%;
    position:        relative;
    display:         flex;
    justify-content: center;
    padding:         1em 0;
    box-shadow:      0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    flex-grow:       0;

    @media only screen and (max-width: $mobile-mid) {
        flex-direction: column;
        align-items:    center;
    }
}

.main {
    display:   flex;
    flex-grow: 1;
}

.sidebar {
    width: $sidebar-max-width;
}

.content {
    position:   absolute;
    top:        60px;
    left:       0;
    right:      0;
    bottom:     0;
    overflow-y: auto;

    &-wrapper {
        position:    relative;
        flex-grow:   1;
        display:     flex;
        flex-flow:   column;
        padding-top: 10px;
    }
}